<div class="header">
  <h1>Página de Tareas</h1>
  <button mat-raised-button color="primary" (click)="addTask()">
    Añadir Tarea
  </button>
</div>
 
<div class="task-container">
  
  <div class="task-column">
    <h2>Tareas Pendientes</h2>
    <app-task-card
      *ngFor="let task of pendingTasks"
      [task]="task"
      (edit)="editTask(task)"
      (delete)="deleteTask(task.taskId)"
 
    ></app-task-card>
  </div> 
  
  <div class="task-column">
    <h2>Tareas Completadas</h2>
    <app-task-card
      *ngFor="let task of completedTasks"
      [task]="task"
      (edit)="editTask(task)"
      (delete)="deleteTask(task.taskId)"
 
    ></app-task-card>
  </div>
</div>
