.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    h1 {
        margin: 0;
        font-size: 24px;
    }
}

.task-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.task-column {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    h2 {
        text-align: center;
        color: #333;
    }

    app-task-card {
        margin-bottom: 16px;
        cursor: pointer;
    }
}